version: '3.8'

volumes:
  mysql:

networks:
  ddd-demo-network:
    name: ddd-demo-network
    ipam:
      driver: default
      config:
      - subnet: 172.27.235.0/24

services:
  mysql:
    image: mysql:8.0.20
    restart: always
    volumes:
    - mysql:/var/lib/mysql
    environment:
    - TZ=Asia/Shanghai
    - MYSQL_ONETIME_PASSWORD=yes
    - MYSQL_RANDOM_ROOT_PASSWORD=yes
    - MYSQL_USER=cloud
    - MYSQL_PASSWORD=ddd-demo
    - MYSQL_DATABASE=ddd-demo
    networks:
      ddd-demo-network: {}

  service-registry:
    build:
      dockerfile: Dockerfile
      context: ./service-registry
    image: miracle/spring-cloud-serviceregistry:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - CONFIG_URI=http://config-server:8888
    networks:
      ddd-demo-network: {}
    ports:
    - "0.0.0.0:8761:8761"

  config-server:
    build:
      dockerfile: Dockerfile
      context: ./config-server
    image: miracle/spring-cloud-configserver:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - GIT_URI=https://github.com/miracle-kang/ddd-demo
    - GIT_SEARCH_PATHS=.ddd-demo-config
    - EUREKA_SERVICE_URL=http://service-registry:8761/eureka/
    networks:
      ddd-demo-network: {}
    ports:
    - "0.0.0.0:8888:8888"
    depends_on:
    - service-registry

  zipkin:
    image: openzipkin/zipkin:2.21.1
    restart: always
    environment:
    - TZ=Asia/Shanghai
    networks:
      ddd-demo-network: {}
    ports:
    - "0.0.0.0:9411:9411"

  access-service:
    build:
      dockerfile: Dockerfile
      context: ./access
    image: miracle/ddd-demo-access:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - CONFIG_URI=http://config-server:8888
    - EUREKA_SERVICE_URL=http://service-registry:8761/eureka/
    - ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      ddd-demo-network: {}
    depends_on:
    - config-server
    - service-registry
    - zipkin
    - mysql

  identity-service:
    build:
      dockerfile: Dockerfile
      context: ./identity
    image: miracle/ddd-demo-identity:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - CONFIG_URI=http://config-server:8888
    - EUREKA_SERVICE_URL=http://service-registry:8761/eureka/
    - ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      ddd-demo-network: {}
    depends_on:
    - config-server
    - service-registry
    - zipkin

  swagger-service:
    build:
      dockerfile: Dockerfile
      context: ./swagger-ui
    image: miracle/ddd-demo-swagger:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - CONFIG_URI=http://config-server:8888
    - EUREKA_SERVICE_URL=http://service-registry:8761/eureka/
    - ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      ddd-demo-network: {}
    depends_on:
    - config-server
    - service-registry
    - zipkin

  api-gateway:
    build:
      dockerfile: Dockerfile
      context: ./api-gateway
    image: miracle/ddd-demo-apigateway:latest
    restart: always
    environment:
    - TZ=Asia/Shanghai
    - CONFIG_URI=http://config-server:8888
    - EUREKA_SERVICE_URL=http://service-registry:8761/eureka/
    - ZIPKIN_BASE_URL=http://zipkin:9411/
    networks:
      ddd-demo-network: {}
    ports:
    - "8080:8080"
    depends_on:
    - access-service
    - identity-service